.content {
  background-color: lightblue;
  height: 500px;
  width: 1425px;
  align-content: center;
}
h1 {
  color: Teal;
  font-size: 400%;
  font-family: sans-serif;
  text-align: center;
}
h2 {
  color: Teal;
  font-size: 400%;
  font-family: sans-serif;
  text-align: center;
}
h3 {
  color: Teal;
  font-size: 400%;
  font-family: sans-serif;
  text-align: center;
}
h4 {
  color: Teal;
  font-size: 400%;
  font-family: sans-serif;
  text-align: center;
}
#hi {
  color: darkslategray;
  font-size: 200%;
  font-family: sans-serif;
  text-align: center;
}
#hey {
  color: darkslategray;
  font-size: 200%;
  font-family: sans-serif;
  text-align: center;
}
#sup {
  color: darkslategray;
  font-size: 200%;
  font-family: sans-serif;
  text-align: center;
}
#hello {
  color: darkslategray;
  font-size: 50%;
  font-family: sans-serif;
  text-align: center;
}
