body {
  background-color: papayawhip;
}
h1 {
  color: peru;
  font-size: 400%;
  font-family: sans-serif;
  text-align: center;
}
h2 {
  color: sandybrown;
  font-size: 200%;
  font-family: sans-serif;
  text-align: center;
}
h3 {
  color: rosybrown;
  font-size: 200%;
  font-family: sans-serif;
  text-align: center;
}
h4 {
  color:sandybrown;
  font-size: 200%;
  font-family: sans-serif;
  text-align: center;
}
h5 {
  color: rosybrown;
  font-size: 200%;
  font-family: sans-serif;
  text-align: center;
}
#hi {
  color: sienna;
  font-size: 150%;
  font-family: sans-serif;
  text-align: center;
}
#wu {
  color: sienna;
  font-size: 150%;
  font-family: sans-serif;
  text-align: center;
}
#nm {
  color: sienna;
  font-size: 150%;
  font-family: sans-serif;
  text-align: center;
}
.name {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.script {
  background-color: bisque;
  height: 300px;
  width: 1440px;
}
